.container {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
  }
  
  button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: #d70202;
    color: white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d44242;
  }
  
  button:active {
    background-color: #af0000;
  }
  