<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IZTECH ONLINE ELECTION SYSTEM</title>
</head>
<body>
    <h2>
        <hr>
        WELCOME TO IZTECH ONLINE ELECTION SYSTEM
    </h2>

    <hr>
        <!-- display user name and role-->
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Roles: <span sec:authentication="principal.authorities"></span>
    <hr>

 <div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (only for manager people!)
    </p>
</div>


    <form action="#" th:action="@{/showCandidates}">
        <input type="submit" value="Show Candidates">
    </form>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>